<!DOCTYPE html>
<html lang="en" ng-app="EvalSystem">
<head>
	<title>Selection Flow Page</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
	<script src="../Controllers/selectionFlow.js"></script>
  <link rel="stylesheet" type="text/css" href="../CSS/selectionFlow.css">

</head>
<body>
<div class="accordion Vertical-Accordian">
	<ul>
		<li>
			<input id="pane1-button" type="radio" name="select" class="accordion-select" checked />
			<div class="accordion-title">
				<span>Terms</span>
			</div>
			<div class="accordion-content" ng-controller="TermController">
				<h4 style="display:flex; justify-content:center; margin:auto">Select Terms to include</h4>
				<span style="display:flex; justify-content:center; margin-top:10px">
					<select id="termList" size="10" multiple>
						<option ng-repeat="term in terms" value="{{term.SemesterID}}">
							{{ term.Year + " " + term.SemesterName }}
						</option>
					</select>
				</span>
				<span style="display:flex; justify-content:center; margin-top:10px">
					<button name="select" ng-click="buildTermsSelected()">Next</button>
					<!-- <button name="select" onclick="getElementById('pane2-button').click()">Next</button> -->
				</span>
			</div>
			<div class="accordion-separator"></div>
		</li>
		<li>
			<input id="pane2-button" type="radio" name="select" class="accordion-select" />
			<div class="accordion-title">
				<span>Department</span>
			</div>
			<div class="accordion-content" ng-controller="DeptController">
				<h4 style="display:flex; justify-content:center; margin:auto">Select Departments to include</h4>
				<span style="display:flex; justify-content:center; margin-top:10px">
					<select id="deptList" size="10" multiple>
						<option ng-repeat="dept in depts" value="{{ dept.DepartmentCode }}">
							{{ dept.DepartmentName }}
						</option>
					</select>
				</span>
				<span style="display:flex; justify-content:center; margin-top:10px">
					<button name="select" ng-click="buildDepartmentsSelected()">Next</button>
					<!-- <button name="select" onclick="getElementById('pane3-button').click()">Next</button> -->
				</span>
			</div>
			<div class="accordion-separator"></div>
		</li>
		<li>
			<input id="pane3-button" type="radio" name="select" class="accordion-select" />
			<div class="accordion-title">
				<span>Sort By</span>
			</div>
			<div class="accordion-content" ng-controller="InstructorCourseController">
				<h4 style="display:flex; justify-content:center; margin:auto">Sort results by:</h4>
				<div style="; width:100px; margin:auto">
					<input name="sortBy-Radio" type="radio" value="Instructor" id="Instructor">Instructor<br>
					<input name="sortBy-Radio" type="radio" value="Course" id="Course">Course<br>
				</div>
				<span style="display:flex; justify-content:center; margin-top:10px">
					<button name="select" ng-click="setCourseOrInstructor()">Next</button>
				</span>
			</div>
			<div class="accordion-separator"></div>
		</li>
		<li>
			<input id="pane4-button" type="radio" name="select" class="accordion-select" />
			<div class="accordion-title" ng-controller="InstructorCourseController">
				<span id="pane4-title">Course/Instructor</span>
			</div>
			<div class="accordion-content" ng-controller="InstructorCourseController">
      <!-- <div class="accordion-content" ng-controller="DeptController"> -->
				<h4 style="display:flex; justify-content:center; margin:auto">Select to include</h4>
				<span style="display:flex; justify-content:center; margin-top:10px">
					<select id="ICList" size="10" multiple>
            <!-- <option ng-repeat="c in courseNumbers" value="{{ c.Subject }}">
              {{ c.Subject + " " + c.CourseNumber }}
						</option> -->
					</select>
				</span>
				<span style="display:flex; justify-content:center; margin-top:10px">
					<button name="select" onclick="getElementById('pane5-button').click()">Next</button>
				</span>
			</div>
			<div class="accordion-separator"></div>
		</li>
		<li>
			<input id="pane5-button" type="radio" name="select" class="accordion-select" />
			<div class="accordion-title">
				<span>Report Selection</span>
			</div>
			<div class="accordion-content" ng-controller="ReportDisplayOptionsController">
				<h4 style="display:flex; justify-content:center; margin:auto">Report Options:</h4>
        <form id="reportOptionForm" action="" method="POST" onsubmit="return buildReport()">
  				<div style="; width:300px; margin:auto">
					<input name="reportSelection-Radio" type="radio" value="term">Sort per Term<br>
					<input name="reportSelection-Radio" type="radio" value="dept">Sort per Department<br>
					<input name="reportSelection-Radio" type="radio" value="instr/course">Sort per Instructor/Course<br>
					<input name="reportSelection-Radio" type="radio" value="allReports">Display all as eval reports<br>
					<input name="reportSelection-Radio" type="radio" value="oneReport">Display all as one report<br>
				</div>
				<span style="display:flex; justify-content:center; margin-top:10px">
          <input type="submit" value="Build Report"/>
				</span>
      </form>
			</div>
			<div class="accordion-separator"></div>
		</li>
	</ul>
</div>
</body>
</html>
