body {
	height:100%;
	background-image:url(../images/nb.jpg);
	background-size:100%;
	background-attachment:fixed;
	background-repeat:no-repeat;
	margin:0;
	padding:0;
}

h1, h2 , p{
	font-family: 'Muli', sans-serif;
}

p {
	font-size:110%;
}

img {
	border:1px solid #583822;
	border-radius:5px;
}

a {
	color: #583822;
}
	
#wrapper {
	position:relative;
	min-height:700px;
	width:74%;
	border:1px solid black;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	opacity:0;
	border-radius:5px;
	-webkit-box-shadow: 10px 20px 40px rgba(50, 50, 50, 0.8);
	-moz-box-shadow:    10px 20px 40px rgba(50, 50, 50, 0.8);
	box-shadow:         10px 20px 40px rgba(50, 50, 50, 0.8);
	top:80px;
	padding:3% 3% 0 3%;
}


	
#topBox {
	position:fixed;
	height:65px;
	background-color:#FFE3B4;
	border-bottom:1px solid #814D29;
	top:0;
	left:0;
	z-index:10;
	width:100%;
	opacity: 0;
}
	
	#topBox h1 {
		margin-left:5%;
	}

	#neckImg, #likeABoss {
		width:40%;
		height:auto;
		
		margin:2%;
	}
	
		#neckImg {
			float:left;
		}
		
		#likeABoss {
			float:right;
		}
	
	#navMenu {
		min-width:730px;
	}

		#navMenu ul {
			list-style-type:none;
			text-align:left;
			padding:0;
			
		}
		
			#navMenu ul li {
				display:inline;
			}
				
				#navMenu li a {
					padding:1% 1.5%;
					background-color:#D0691D;
					color:#FFE3B4;
					text-decoration:none;
					border:1px solid #814D29;
					font-size:90%;
					margin:0;
				}
					#navMenu li a:hover {
						background-color:#CE945D;
					}
	
#enterImage {
	position:absolute;
	width:30%;
	height:auto;
	left:35%;
	top:200px;
	-webkit-box-shadow: 15px 15px 50px rgba(0, 0, 0, 1);
	-moz-box-shadow:    15px 15px 50px rgba(0, 0, 0, 1);
	box-shadow:         15px 15px 50px rgba(0, 0, 0, 1);
}
	
#homePageWelcome{
	position:absolute;
	text-align:center;
	top:100px;
	width:60%;
	left:20%;
}
	
	#homePageWelcome h1 {
		color:#583822;
		text-decoration:none;
		text-shadow:2px 2px 3px #222;
	}
	
#content {
	position:relative;
}
#contactForm {
	position:relative;
	width:55%;
	text-align:right;
	float:left;
	height:210px;
}

#errorsBox{
	position:relative;
	width:35%;
	padding:3%;
	color:red;
	float:left;
	height:210px;
}
	#footerBox {
		position:absolute;
		right:2%;
		bottom:2%;
		width:25%;
	}
	
	#footer	{
		position:relative;
		text-align:right;
		padding-right:2%;
		text-shadow:2px 2px 2px #333;
		z-index:-1;
	}
	
	iframe {
	}
	
	#menuImg1, #menuImg2, #menuImg3 {
		position:absolute;
		width:600px;
		height:500px;
		border:1px solid #583822;
		-moz-transform: scale(0.25);
		-moz-transform-origin: 0 0;
		-o-transform: scale(0.25);
		-o-transform-origin: 0 0;
		-webkit-transform: scale(0.25);
		-webkit-transform-origin: 0 0;
		margin-top:-7px;
		display:none;
	}
	
	#menuImg1 {
		left:44%;
		
	}
	
	#menuImg2 {
		left:64%;
	}
	
	#menuImg3 {
		left:73%;
	}