<!DOCTYPE html>
<html lang ="en-US">
<head>
	<title Secretary Permission Page>Permission Results</title>
	<meta charset = "UTF-8"/>
	<link rel = "stylesheet" type = "text/css" href = "SecretaryPermission.css">
</head>	
<body>
	<br>
	<br>
	<h3>Permission Results</h3>
	<p>The Following Instuctor Was Assigned The Following Permissions</p>
	<div id="results">
	<p>Brad Peterson</p>
		<ul>
		   <li>1 Administrator</li>
		   <li>3 Instructor</li>
		   <li>2 Manager</li>
		   <li>21 Adjunct Advisor</li>
	</div>
	
		
	<div class="BackButton">
		<button onclick="location.href='SelectDepartment.html'" type="button">
		Back To Select Department</button>
		<br>
	    <br>
	    <button onclick="location.href='SelectInstructor.html'" type="button">
		Back To Select Instructor</button>
		
	</div>
</body>
</html>