body{
	background-color:#2555BA;
}

.multiselect {
  width: 16px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 12%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  background-color: #FFFFEE;	
  display: none;
  border: 1px #dadada solid;
  width: 12%;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

#results{
	background-color: #FFFFEE;
	width: 12%;
}

.Backbutton{
	display: block;
	width: 200px;
}
