<!DOCTYPE html>
<html lang ="en-US">
<head>
	<title Secretary Permission Page>Select Department</title>
	<meta charset = "UTF-8"/>
	<link rel = "stylesheet" type = "text/css" href = "SecretaryPermission.css">
</head>	
<body>
	<br>
	<br>
	<h3>Select Department</h3>
	<div id="Department List">
		<select list="Departments" name="Department" size="15">
		<datalist id="Departments">
			<option value="Automotive">Automotive</option>
			<option value="Computer Science">Computer Science</option>
			<option value="Construction Management Tech">Construction Management Tech</option>
			<option value="Electronics Engineering">Electronics Engineering</option>
			<option value="Engineering">Engineering</option>
			<option value="Engineering Technology">Engineering Technology</option>
			<option value="Network Tech Bus Multimedia">Network Tech Bus Multimedia</option>
			<option value="Professional Sales">Professional Sales</option>
			<option value="School of Computing">School of Computing</option>
									
		</datalist>
		</select>
	</div>
	<br>

	<div id="NextButton">
	<button onclick="location.href='SelectInstructor.html'" type="button">
     Next</button>
	</div>

</body>
</html>

