<!DOCTYPE html>
<html ng-app="EvalSystem">
<head>
  <meta charset="UTF-8">
  <title>User Roles</title>

</head>

<body>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="../../Controllers/userRoles.js"></script>
  <!--<script src="app.js"></script>-->
</head>
<body ng-app="EvalSystem">
  <div ng-controller="UserRolesController">
    <!-- Uncomment to see a div with sorting paramters
    <div class="alert alert-info">
      <p>Sort Type: {{ sortType }}</p>
      <p>Sort Reverse: {{ sortReverse }}</p>
      <p>Search Query: {{ userRoleSearch }}</p>
    </div>
    -->

    <h1>User Roles</h1>

    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control" placeholder="Search here" ng-model="userRoleSearch">
        </div>
      </div>
    </form>

    <table>
      <thead>
      <tr>
        <td>
          <a href="#" ng-click="sortType = 'InstructorID'; sortReverse = !sortReverse">
            ID
            <span ng-show="sortType == 'InstructorID' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'InstructorID' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'InstructorFirstName'; sortReverse = !sortReverse">
            First Name
            <span ng-show="sortType == 'InstructorFirstName' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'InstructorFirstName' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'InstructorLastName'; sortReverse = !sortReverse">
          Last Name
            <span ng-show="sortType == 'InstructorLastName' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'InstructorLastName' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'RoleName'; sortReverse = !sortReverse">
          Role
            <span ng-show="sortType == 'RoleName' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'RoleName' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'DepartmentName'; sortReverse = !sortReverse">
          Department
            <span ng-show="sortType == 'DepartmentName' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'DepartmentName' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>
      <tbody>
      <tr ng-repeat="item in userroles | orderBy:sortType:sortReverse | filter:userRoleSearch">
        <td>{{ item.InstructorID }}</td>
        <td>{{ item.InstructorFirstName }}</td>
        <td>{{ item.InstructorLastName }}</td>
        <td>{{ item.RoleName }}</td>
        <td>{{ item.DepartmentName }}</td>
        <td><button ng-click="editFunction()">Edit</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
</html>

    <script src="js/index.js"></script>

</body>
</html>
