@{
    ViewBag.Title = "DeleteASpecimenSuccess";
    
}

<h2>Specimen Deleted</h2>


<a href="/Home/Search?multipleSearch=false&search=@Session["search"]"><input type="button" value="Go to Search" /></a>
<a href="/Home/ViewYourOwnEntries"><input type="button" value="View Your Own Entries" /></a>
<a href="/Home/Index"><input type="button" value="Home" /></a>