@{
    ViewBag.Title = "PasswordResetResult";
}

<h2>Password Reset Result</h2>

@{
    if (ViewBag.result)
    {
        <p>@ViewBag.username - your password has been reset, you may now log in with your new password</p>
    }
    else
    {
        <p>There was an error, could not reset your password</p>
    }
}

