@model HerbariumMVC.Models.SetPassword
@{
    ViewBag.Title = "SetPassword";
}

<h2>Set Password</h2>

@{ 
    if(ViewBag.errors != null)
    {
        <ul style="color:red; font-weight:bold;">
            @{ 
                foreach(var item in ViewBag.errors)
                {
                    <li>-- @item</li>
                }
            }
        </ul>
    }
}

<style type="text/css">
    ul{
        margin-left:10px;
    }
    ul li{
        height:35px;
    }
</style>
@using (Html.BeginForm("SetPassword", "Home", FormMethod.Post))
{
    <ul style="width:175px; text-align:right; float:left;">
        <li>Password:</li>
        <li>Re-type Password:</li>
    </ul>

    <ul style="float:left;">
        <li>@Html.PasswordFor(model => model.password1)</li>
        <li>@Html.PasswordFor(model => model.password2)</li>
        <input type="submit" value="Submit" />
        <li><input type="hidden" name="username" value="@ViewBag.username" /></li>
    </ul>
    <div style="clear:both;"></div>
    
}
